@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply  text-grayish font-bold hover:text-bosta hover:underline;
}

.btn-signup {
  @apply p-4  text-bosta rounded-full font-bold px-8 py-3 border hover:text-white border-bosta hover:bg-bosta hover:underline;
}

/* #error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

.container {
  @apply flex  mx-auto justify-center;
}

.grid-container {
  @apply grid gap-4 lg:max-w-[1200px] w-full mx-auto  lg:grid-cols-3 md:grid-cols-1  md:max-w-[750px];
  /* max-width: 1200px; */
  /* width: 100%; */
}

.grid-item-top {
  @apply lg:col-span-3 md:col-span-1  bg-white border border-gray-200 p-4 rounded-lg items-center;
}

.grid-item-table {
  @apply bg-white border lg:col-span-2  md:col-span-1 border-gray-200 rounded-lg;
}
.grid-item-data {
  @apply bg-white  col-span-1 flex-col;
}

.grid-item-sup {
  @apply flex flex-row h-1/2 border  border-gray-200 rounded-lg;
}
.span-title {
  @apply text-grayish font-medium;
}
.span-data {
  @apply font-semibold text-black text-lg;
}
